.cart-test-details {
  height: 10rem;
  width: 10rem;
  border: 1px solid black;
}
.free-test {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10rem;
}
.cm {
  border: 1px solid black;
}
.cm-comment {
}

/* Modal container */
.modal {
  z-index: 1;

  height: 10rem;
  width: 10rem;
  border: 1px solid black;
  display: flex;
  align-items: flex-end;
}

/* Modal content */
.modal-content {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  height: 10rem;
  width: 10rem;
}

/* Close icon */
.close {
  position: absolute;

  font-size: 20px;
  cursor: pointer;
}
